@import "bootstrap";
@import "answers";
@import "questions";
@import "votes";
@import "comment";
@import "searches";
@import url('https://fonts.googleapis.com/css?family=Lato');

body {
  font-family: "Lato";
}

.container-fluid {
  padding: 0;
}

.row {
  margin-left: 0;
  margin-right: 0;
}

.side-menu {
  padding-bottom: 15px;
  padding-top: 10px;
  padding-left: 15px;
}

.circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 14px;
  color: #000;
  line-height: 48px;
  text-align: center;
  background: #fff;
  border: solid rgba(174, 174, 174, 0.73) 1px;
}

.text-grey {
  color: grey;
}

.text-black {
  color: black;
}

.right-column{
  background: #eef1f7;
}

#header {
  min-height: 50px;
  background-color: rgba(1, 0, 17, 0.9);
  color: #1abc9c;
  padding-left: 20px;
  line-height: 80px;
}

.logo {
  font-size: 32px;
  color: #000;
  text-transform: uppercase;
  text-decoration: none;
}

.hidden {
  display: none;
}