@import "bootstrap";
@import "answers";
@import "questions";
@import "votes";
@import "comment";
@import "searches";

body {
  padding-top: 65px;
  font-family: "Lato";
}

.side-menu {
  padding-bottom: 15px;
  padding-top: 10px;
}

.circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 14px;
  color: #000;
  line-height: 48px;
  text-align: center;
  background: #fff;
  border: solid rgba(174, 174, 174, 0.73) 1px;
}

.text-grey {
  color: grey;
}

.text-black {
  color: black;
}
