.unvote-question, .unvote-answer {
  position: relative;
}

.question-voting {
  position: relative;
  width: 40px;
  height: 40px;
}

.question-rating {
  font-size: xx-large;
  position: relative;
  width: 40px;
  height: 40px;
}